/* Eric Meyer's reset.css */
html, body, div, span, h1, h2, p, a, fieldset, article, canvas, footer, header, section, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, footer, header, section {
  display: block; }

body {
  line-height: 1; }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: bold; }

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 100; }

@font-face {
  font-family: 'ProximaNovaReg';
  src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
  font-weight: normal; }

body {
  overflow: hidden;
  font-family: "ProximaNovaReg", sans-serif; }

.trigger-headline {
  font-family: "ProximaNovaBold", sans-serif; }

.trigger-headline .lighter {
  font-family: "ProximaNovaLight", sans-serif; }
