@font-face
  font-family: 'ProximaNovaBold'
  src: url("../fonts/ProximaNova-Bold.otf") format('opentype')
  font-weight: bold

@font-face
  font-family: 'ProximaNovaLight'
  src: url("../fonts/ProximaNova-Light.otf") format('opentype')
  font-weight: 100

@font-face
  font-family: 'ProximaNovaReg'
  src: url("../fonts/ProximaNova-Reg.otf") format('opentype')
  font-weight: normal