@import "reset"
@import "vars"
@import "fonts"
@import "typo"
@import "buttons"
@import "home"

body
  overflow: hidden
  font-family: $font-reg

.trigger-headline
  font-family: $font-bold

.trigger-headline .lighter
  font-family: $font-light